{
  "extends": ["standard", "standard-react"],
  "parser": "babel-eslint",
  "plugins": ["import"],
  "rules": {
    "arrow-parens": 0,
    "no-var": 2,
    "react/jsx-boolean-value": [2, 'always'],
    "generator-star-spacing": 0,
    "no-duplicate-imports": 0,
    "import/no-duplicates": 2,
    "react/prop-types": 0
  },
  "globals": {
    "fetch": false
  },
  "env": {
    "mocha": true
  }
}
